<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
  <div class="flex justify-center" *ngIf="datos">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Reservaciones del Día" class="w-full h-40 object-cover" src="https://img.freepik.com/vector-premium/icono-signo-documento-lista-verificacion-estilo-comic-ilustracion-dibujos-animados-vector-encuesta-sobre-fondo-blanco-aislado-efecto-salpicadura-concepto-negocio-banner-marca-verificacion_157943-8614.jpg" />
      </ng-template>
      <ng-template #title>Reservaciones del Día</ng-template>
      <ng-template #subtitle>{{ datos.reservas_hoy }}</ng-template>
    </p-card>
  </div>

  <div class="flex justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Pendientes" class="w-full h-40 object-cover" src="https://static.vecteezy.com/system/resources/previews/016/130/470/non_2x/check-in-reception-icon-in-comic-style-booking-service-cartoon-illustration-on-white-isolated-background-hotel-reservation-splash-effect-business-concept-vector.jpg" />
      </ng-template>
      <ng-template #title>Reservas Pendientes</ng-template>
      <ng-template #subtitle>{{ datos.reservas_pendientes }}</ng-template>
    </p-card>
  </div>

  <div class="flex justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Usuarios" class="w-full h-40 object-cover" src="https://static.vecteezy.com/system/resources/previews/016/136/813/non_2x/people-communication-icon-in-comic-style-people-cartoon-illustration-on-white-background-partnership-splash-effect-business-concept-vector.jpg" />
      </ng-template>
      <ng-template #title>Usuarios Registrados</ng-template>
      <ng-template #subtitle>{{ datos.usuarios }}</ng-template>
    </p-card>
  </div>

  <div class="flex justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Espacios" class="w-full h-40 object-cover" src="https://img.freepik.com/vector-premium/calendario-icono-reloj-estilo-comic-ilustracion-vector-dibujos-animados-agenda-sobre-fondo-blanco-aislado-concepto-negocio-efecto-salpicadura-planificador-tiempo-programacion_157943-19061.jpg" />
      </ng-template>
      <ng-template #title>Espacios Existentes</ng-template>
      <ng-template #subtitle>{{ datos.espacios }}</ng-template>
    </p-card>
  </div>

  <div class="flex justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Ingreso" class="w-full h-40 object-cover" src="https://img.freepik.com/vector-premium/personas-icono-flecha-crecimiento-estilo-comico-ilustracion-vector-dibujos-animados-estrategia-trabajo-sobre-fondo-blanco-aislado-concepto-negocio-efecto-salpicadura-entrenamiento-oficina_157943-13637.jpg?w=360" />
      </ng-template>
      <ng-template #title>Ingreso del Mes</ng-template>
      <ng-template #subtitle>{{ datos.ingreso_mes | currency:'MXN':'symbol':'1.2-2' }}</ng-template>
    </p-card>
  </div>

  <div class="flex justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img alt="Porcentaje" class="w-full h-40 object-cover" src="https://img.freepik.com/vector-premium/personas-icono-flecha-crecimiento-estilo-comico-ilustracion-vector-dibujos-animados-estrategia-trabajo-sobre-fondo-blanco-aislado-concepto-negocio-efecto-salpicadura-entrenamiento-oficina_157943-12574.jpg?w=360" />
      </ng-template>
      <ng-template #title>% de Reservas del Mes</ng-template>
      <ng-template #subtitle>{{ datos.porcentaje_mes }}%</ng-template>
    </p-card>
  </div>
</div>


<div class="grid grid-cols-1 md:grid-cols-3 gap-5 p-5">
  <div class="card mt-6 mx-6 w-[400px] h-[300px]">
    <p-chart type="pie" [data]="ingresosData" [options]="ingresosOptions" />
  </div>

  <div class="card mt-6 mx-6 w-[400px] h-[300px]">
    <p-chart type="pie" [data]="reservasData" [options]="reservasOptions" />
  </div>

  <div class="card mt-6 mx-6 w-[400px] h-[300px]">
    <p-chart type="pie" [data]="registrosData" [options]="registrosOptions" />
  </div>
</div>
